
.nav{
  display: flex;
  justify-content: space-between;
  align-items:center; 
   
}
.nav-items {
   list-style: none; 
   display: flex; 
}
.nav-items > li {
   padding: 10px
}
.image{
   width: 60px; 
}
.navbarcard{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page--content{
  background-color: #222823;
  background-image: url("./assets/images/galaxy.jpg"); 
  background-image: cover;
  min-height: 100vh;
}

.page--contentbody {
  border-color: 5px solid black;
  background-color:#1d3557;
 
}
.nav--bar{
 width: auto;
 height:10%;
 margin-left: 10%;
 margin-right: 10%;
}
.cardcontainer{
  border-color: black;
  align-items: center;
 
}
.container{
  width: 25px;
}
h1{
  color:#edf6f9; 
}
h2{
  color:#f7ede2
}
.font-header1{
  font-family: 'Acme', sans-serif;
}
.font-header2{
font-family: 'Cormorant SC', serif;
}

.timelabel{
color:white; 
font-family: 'Acme', sans-serif;
font-size:20px; 
align-items: center;
}
.navbartext{
  font-family: 'Acme', sans-serif;
  color:black;
}
.userprompt{
  color:white; 
  font-family: 'Titillium Web', sans-serif;
}
.font-header3{
 font-family: 'Cormorant SC', serif;
 color:#f7ede2;
}

.warningcard{
display: flex;
height: auto;
}
.card--data {
  border: 1px solid black;
  border-radius:2.5px;
  align-items: center;
 font-size: 14px;
 font-weight: bold;
}
.cardimage{
  width:auto;
  height: 170px;
}
.footer {
    margin-top:5%;
    height: 2.5%;;
    background: white;
    text-align: center;
    font-size: 12px;
    background-color:ghostwhite;
}

